.p-header__logo{
    font-size: $font-size_24;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    top: 21px;
    left: 17px;
}

.p-header__logo-link{
    color: #f2f2f2;
    // color: #D9B4B4;
    // color: #394159;

}
