// margin-bottom
.u-mb5{
  margin-bottom: 5px !important;
}
.u-mb8{
  margin-bottom: 8px !important;
}
.u-mb16{
    margin-bottom: 16px !important;
  }
  .u-mb30{
    margin-bottom: 30px !important;
  }
  .u-mb60{
    margin-bottom: 60px !important;
  }
  .u-mb80{
    margin-bottom: 80px !important;
  }
  .u-mb120{
    margin-bottom: 120px !important;
  }
  .u-mb150{
    margin-bottom: 150px !important;
  }
  
  //margin-top
  .u-mt8{
    margin-top: 8px !important;
  }
  .u-mt16{
    margin-top: 16px !important;
  }
  .u-mt30{
    margin-top: 30px !important;
  }
  .u-mt60{
    margin-top: 60px !important;
  }
  .u-mt80{
    margin-top: 80px !important;
  }
  .u-mt120{
    margin-top: 120px !important;
  }
  .u-mt150{
    margin-top: 150px !important;
  }
  